.Logo
{
    height: 50px;
    width: 50px;
}
.masked-custom{
    background-color: white;
    backdrop-filter: blur(5px);
    height: 60px;
}
.li-tag:hover{
    text-decoration: underline;
    text-decoration-color: #1EBAA3;
}
.li-tag{
    color: #1EBAA3;
    list-style: none;
    display: inline;
    flex-direction: row;
    cursor: pointer;
    text-align: right;
    padding-left: 400px;
}
.logo-text{
    color: #1EBAA3;
    padding-left: 8px;
    cursor: pointer;
}
.typewriter-text{
    height: auto;
    width: 100px;
}




